:root{
	--background-color: #333;
	--foreground-color: #cdd3de;
	--accent-color: #ffcc00;
}

*{
	box-sizing: border-box;
	font-family: 'Roboto Mono';
}

body,
html{
	margin: 0;
	background: var(--background-color);
}